<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon.png' %}">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Red Cross Finder!</h1>
    <h3>We want to help you get back together</h3>
    <a href="{% url 'login' %}" class="btn-red">Login</a>
    <a href="{% url 'register' %}" class="btn-black">Register</a>
</body>
</html>